html{  
	background-color: violet; 
}
h1{
color: 0000ff;
text-align: center;
font-size: xx-large;
}

h2{
color: red;	
text-align: center;
font-size: xx-large;
}

button{
	color: orange;
	background-color: lightblue;
	font-size: x-large;
}
p,ul,li{
color: green;
text-align: center;
font-size: x-large;
font-weight: 800;
}

.logo{
	margin-right: 5%;
	width: 180px;
	height: 130px;
}
.blu{
	color: blue;
}
.scuola{
	width: 300px;
	height: 200px;
}
